{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

         

        <!-- Recipes Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipes in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipes.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' recipes.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipes.name_of_recipe }}</h2></a>
                                <p class="card-text"> {{ recipes.excerpt }}</p>
                            

                            <hr />
                            <p class="card-text text-muted h6">{{ recipes.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" >
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}"
          class="page-link">&laquo; PREV</a>
    </li>
    {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- add your own recipe -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Add your recipes here:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="recipeForm" method="post"
            style="margin-top: 1.3em;">
            {{ recipe_form|crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to add a recipe</p>
          {% endif %}
        </div>
      </div>

<!-- index.html content ends here -->
{% endblock %}